
body {
    background: lightcyan;
}

#main {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
    width: 100%;
    height: 97vh;
}

.main.right {
    width: 25%;

    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: stretch;
}

.main.right.top {
    height: 10%;
    width: auto;
}

.main.right.top h2 {
    font-size: 2vw;
    text-align: center;
    font-family: monospace;
}

#note {
    margin-top: 1vw;
    font-size: 1vw !important;
}

.main.right.mid {
    height: 80%;
    width: auto;

    font-family: monospace;
    overflow-y: scroll;
    overflow-wrap: break-word;

}

.messages {
    height: 100%;
    margin: 0;
    padding: 0.6vw 1.2vw 0.6vw 1.2vw;
    text-align: left;
    list-style-type: none;
}

.messages li {
    margin-bottom: 1vh;
    font-size: 1vw;
}

.main.right.bot {
    height: 10%;
    width: 93%;
    transform: translate(3.5%, -5%);
    margin-top: 2vh;
}

.main.left {
    width: 75%;

    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: stretch;
}

.main.left.top {
    width: 100%;
    height: fit-content;

    text-align: center;
    margin-bottom: 2vh;
}

#topbar {
    display: flex;
    flex-direction: row;
    align-self: center;
}

#home-link {
    position: absolute;
    width: fit-content;
}

#home-link button {
    border-radius: 2.1vw;
}

#topbar-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main.left.top p, h3 {
    margin-bottom: 1vh;
    margin-top: 0;
    font-size: 1.4vw;
    transform: translateY(50%);
    font-family: monospace;
}

.main.left.bot {
    width: auto;
    height: fit-content;

    display: flex;
    flex-direction: row;
    align-items: stretch;

    border: ridge;
    border-width: 1vw;
    border-color: whitesmoke;
}

.info {
    height: auto;
    width: 25%;
    background-color: #2B4162;

    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.stats {
    height: fit-content;

    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.stats.header {
    font-family: monospace;
    text-align: center;
    font-size: 1.5vw;
    color: white;
    padding: 1vh;
}

.stats.the-stats-inner {
    margin-right: 0.5vw;
    margin-left: 0.5vw;

    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.time-elapsed {
    height: fit-content;

    text-align: left;
    font-family: monospace;
    color: white;
    font-size: 1vw;

    display: flex;
    flex-direction: row;
    align-items: stretch;

    margin-bottom: 1vh;
}

.time-elapsed #elapsed-text {
    width: 50%;
}

#scoreboard {
    padding-bottom: 3vh;
}

.scores table {
    height: 85%;
    width: 100%;

    font-family: monospace;
    color: white;
    font-size: 0.8vw;

    overflow-y: scroll;

    table-layout: fixed;
}

.scores table th {
    text-align: center;
    overflow-x: scroll;
    font-size: 0.7vw;
}

.scores table td {
    text-align: center;
    font-size: 1.7vh;
}

.time {
    height: 12vh;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.time.inner {
    height: 100%;
    width: 100%;
    margin-left: 0.5vw;
    margin-right: 0.5vw;

    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.time.inner p {
    color: white;
    font-family: monospace;
    text-align: left;
    font-size: 2vw;
    transform: translate(3%, -75%);
}

.time-inner-first {
    height: 55%;
    width: 97%;

    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.time-inner-first #turn-text {
    width: 37%;
}

.time-inner-first #turn {
    width: 63%;
    overflow: hidden;
}

.time-inner-first #turn p {
    /* TODO https://stackoverflow.com/questions/16056591/font-scaling-based-on-width-of-container */
    font-size: 1.2vw;
    transform: translate(5%, -30%);
}

.time-inner-second {
    height: 45%;
    width: 97%;

    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.time-inner-second #time-text {
    width: 37%;
}

.time-inner-second #time {
    width: 63%;
    overflow: hidden;
}

.variations {
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3vh;
}

#variations-header {
    height: fit-content;
}

#variations-header p {
    font-family: monospace;
    text-align: center;
    font-size: 1.1vw;
    color: white;
}

#variations-inner {
    height: fit-content;
    width: 90%;
}

.variations-input {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#variations-inner input {
    font-family: monospace;
    font-size: 1vw;

    border-radius: 20px;
    width: 70%;

    padding-left: 7px;
}

#variations-inner button {
    border-radius: 2.1vw;
    font-size: 0.7vw;
    font-family: monospace;
}

#called-variations {
    font-size: 1vw;
    font-family: monospace;
    color: white;

    text-align: center;
    padding-bottom: 2%;
}

.buttons {
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1vh;
}

.buttons-inner {
    height: fit-content;
    width: 100%;

    text-align: center;
}

.buttons-inner button {
    margin-bottom: 1.3vh;
    border-radius: 2.1vw;
    width: 90%;

    font-size: 0.9vw;
    font-family: monospace;
}

.game {
    width: 75%;
    overflow-y: scroll;

    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.wooden-table {
    background-image: url(../images/wood-horizontal.jpg);
}

.resources {
    height: 24vh;

    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.resources.heading {
    height: fit-content;

    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
}

#res-text {
    width: 30%;
}

.resources.heading p {
    color: #2B4162;
    text-align: left;
    font-size: 1.7vw;
    font-family: monospace;
    transform: translate(6%, -60%);
}

#res-button {
    width: 15%;
    height: 3vh;
}

.resources.heading button {
    font-size: 1vw;
    font-family: monospace;
    transform: translate(50%, 40%);
    border-radius: 2vw;
}

.button-clicked {
    background-color: #c6c6c6;
    border: inset;
}

.resources.cubes {
    height: fit-content;
}

.resources.cubes.playable-area {
    height: 88%;
    width: 97%;

    transform: translateY(30%); /* center cubes in resources, below the Bonus button */

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-self: center;
}

.resources.cubes.playable-area table {
    height: 100%;
    width: 100%;
}

.resources.cubes.playable-area th {
    width: 8.3%;
}

.resources.cubes.playable-area th img {
    width: 3vw;
    height: 3vw;
}

.resources.cards {
    height: fit-content;
    padding-bottom: 1vh;
}

.resources.cards.playable-area th img {
    width: 6vw;
}

.show-border {
    border: dotted !important;
    border-color: white !important;
    border-width: 0.2vw !important;
}

.highlight-img {
    border: 0.3vw inset yellow !important;
    border-radius: 0.2vw;
}

.board-outer {
    background-color: wheat;
    height: 55vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.board-inner {
    border: solid;
    border-color: white;
    border-width: 0.6vw;
    background-color: white;

    width: 95%;
    height: 90%;

    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.goal-area {
    border-top: solid;
    border-color: white;

    height: 35%;
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.goal-area.goal-text {
    width: 16%;
    height: auto;
}

.goal-area.goal-text p {
    color: white;
    text-align: center;
    font-size: 2.4vw;
    font-family: monospace;
    transform: translate(20%, 10%);
}

.goal-area.goal-cubes {
    width: 84%;
    height: auto;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.goal-area.goal-cubes.play-area {
    border: dotted;
    border-color: white;

    width: 95%;
    height: 55%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}

.goal-area.goal-cubes.play-area canvas {
    border: dotted;
    border-color: white;
}

.goal-area.goal-cubes.play-area #btn-div {
    margin-right: 2vw;
}

.goal-area.goal-cubes.play-area button {
    font-family: monospace;
    font-size: 1vw;
    width: 7vw;

    border-radius: 2vw;
    height: 35%;
    transform: translate(15%, 90%);
}

.cube-area {
    height: 65%;

    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.play-sector {
    border-left: solid;
    border-right: solid;
    border-color: white;

    width: 33.333%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.play-sector.heading {
    height: 15%;
    width: 100%;
}

.play-sector.heading p {
    color: white;
    text-align: center;
    font-size: 1.5vw;
    font-family: monospace;
    transform: translateY(-70%);
}

.play-sector.cubes {
    height: 90%;
    width: 100%;
}

.play-sector.cubes.playable-area {
    border: dotted;
    border-color: white;

    width: 90%;
    height: 93%;

    align-self: center;

    overflow-y: scroll;
}

.play-sector.cubes.playable-area table td {
    height: 3vw;
    width: 3vw;
}

.play-sector.cubes.playable-area table td img {
    height: 3vw;
    width: 3vw;
}

.hide-border {
    border: none !important;
}

.extra-cube {
    transform: translate(0%, -100%);
}

.hidden {
    display: none;
}

.rounded-corners {
    border-radius: 0.5vw;
}

.chat-button {
    text-align: center;
}

.chat-button button {
    margin-bottom: 1.3vh;
    border-radius: 2.1vw;

    font-size: 0.9vw;
    font-family: monospace;
    margin: 0.5vw;

    transform: translate(0%, -50%);
}

.solution_li {
    width: 90%;

}

.solution_box {
    font-family: monospace;
    font-size: 0.8vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-left: 1vw;
    padding-right: 1vw;
    width: 100%;

    margin-bottom: 1vh;
    border-radius: 2vw;
}

.solution_submit {
    font-family: monospace !important;
    font-size: 0.8vw;
    border-radius: 2vw;
    text-align: center;
    transform: translateX(85%);
}

.universe_li {
    width: 35%;
}

button {
    background-color: white !important;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}
