
body {
    background: lightcyan;
}

#main {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
    width: 100%;
    height: 97vh;
}

.main.right {
    width: 25%;

    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: stretch;
}

.main.right.top {
    height: 10%;
    width: auto;
}

.main.right.top h2 {
    font-size: 2vw;
    text-align: center;
    font-family: monospace;
    /* transform: translateY(5%); */
}

#note {
    margin-top: 1vw;
    font-size: 1vw !important;
}

.main.right.mid {
    height: 80%;
    width: auto;

    font-family: monospace;
    overflow-y: scroll;
}

.messages {
    height: 100%;
    margin: 0;
    padding: 0.6vw 1.2vw 0.6vw 1.2vw;
    text-align: left;
    list-style-type: none;
}

.messages li {
    margin-bottom: 1vh;
    font-size: 1vw;
}

.main.right.bot {
    height: 10%;
    width: 93%;
    transform: translate(3.5%, -5%);
}

.inputMessage {
    border: 0.6vw solid #000;
    bottom: 0;
    height: 100%;
    left: 0;
    outline: none;
    padding-left: 1vw;
    position: relative;
    right: 0;
    width: 91%;

    font-family: monospace;
    font-size: 1vw;
}

.main.left {    
    width: 75%;

    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: stretch;
}

.main.left.top {
    width: auto;
    height: 17%;

    text-align: center;
}

.main.left.top p, h3 {
    margin-bottom: 1vh;
    margin-top: 0;
    font-size: 1.4vw;
    transform: translateY(50%);
    font-family: monospace;
}

.main.left.bot {
    width: auto;
    height: 83%;

    display: flex;
    flex-direction: row;
    align-items: stretch;

    border: ridge;
    border-width: 1vw;
}

.info {
    height: auto;
    width: 25%;

    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.stats {
    background-color: lightcoral;

    height: 30%;

    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.stats.header {
    height: 16%;
}

.stats.header p {
    font-family: monospace;
    text-align: center;
    font-size: 1.5vw;
    transform: translateY(-75%);
    color: white;
}

.stats.the-stats-outer {
    height: 84%;

    position: relative;
}

.stats.the-stats-inner {
    height: 88%;
    width: 99%;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.time-elapsed {
    height: 15%;

    text-align: left;
    font-family: monospace;
    color: white;
    font-size: 1vw;
    transform: translate(5%, -40%);

    display: flex;
    flex-direction: row;
    align-items: stretch;

    margin-bottom: 1vh;
}

.time-elapsed #elapsed-text {
    /* border: dotted;
    border-color: white; */
    width: 45%;
}

/* .time-elapsed #elapsed {
    /* border: dotted;
    border-color: white;
} */

.scores table {
    height: 85%;
    width: 95%;

    font-family: monospace;
    color: white;
    font-size: 0.8vw;

    overflow-y: scroll;

    table-layout: fixed;
    transform: translate(2.5%, -27%);

    /* border: dotted;
    border-color: white; */

}

.scores table th {
    /* border: dotted;
    border-color: white; */

    text-align: center;
    /* overflow-wrap: break-word; */
    overflow-x: scroll;
    font-size: 0.7vw;
}

.scores table td {
    text-align: center;
    font-size: 1.7vh;
}

.time {
    background-color: pink;
    height: 20%;
    position: relative;

    /* overflow: scroll; */
}

.time.inner {
    height: 80%;
    width: 92%;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.time.inner p {
    color: white;
    font-family: monospace;
    text-align: left;
    font-size: 2vw;
    transform: translate(3%, -75%);
}

.time-inner-first {
    height: 50%;
    width: 97%;

    display: flex;
    flex-direction: row;
    align-items: stretch;

    /* border: dotted;
    border-color: white; */
}

.time-inner-first #turn-text {
    /* border: dotted;
    border-color: white; */
    width: 37%;
}

.time-inner-first #turn {
    /* border: dotted;
    border-color: white; */
    width: 63%;
    overflow: hidden;
}

.time-inner-first #turn p {
    /* TODO https://stackoverflow.com/questions/16056591/font-scaling-based-on-width-of-container */
    font-size: 1.2vw;
    transform: translate(5%, -30%);
}

.time-inner-second {
    height: 50%;
    width: 97%;

    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.time-inner-second #time-text {
    width: 37%;
}

.time-inner-second #time {
    width: 63%;
    overflow: hidden;
}

.buttons {
    background-color: lightgreen;
    height: 50%;
    position: relative;
}

.buttons-inner {
    height: 90%;
    width: 90%;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -45%);

    text-align: center;
}

.buttons-inner button {
    margin-bottom: 1.3vh;
    border-radius: 2.1vw;
    width: 90%;

    font-size: 0.9vw;
    font-family: monospace;
}

.game {
    height: auto;
    width: 75%;

    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.resources {
    background-color: thistle;
    height: 30%;

    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.resources.heading {
    height: 20%;

    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
}

#res-text {
    width: 30%;
}

.resources.heading p {
    color: white;
    text-align: left;
    font-size: 1.7vw;
    font-family: monospace;
    transform: translate(6%, -60%);
}

#res-button {
    width: 15%;
}

.resources.heading button {
    font-size: 1vw;
    font-family: monospace;
    transform: translate(50%, 40%);
    border-radius: 2vw;
}

.button-clicked {
    background-color: #d6d6d6;
}

.resources.cubes {
    height: 80%;
    position: relative;
}

.resources.cubes.playable-area {
    /* border: dotted;
    border-color: white; */

    height: 88%;
    width: 97%;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-49%, -48%);

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.resources.cubes.playable-area table {
    height: 100%;
    width: 97%;
    transform: translate(0%, -6%);
}

.resources.cubes.playable-area th {
    /* border: dotted;
    border-color: white; */

    width: 8.3%;

}

.resources.cubes.playable-area th img {
    width: 3vw;
    height: 3vw;
}

.show-border {
    border: dotted !important;
    border-color: white !important;
    border-width: 0.2vw !important;
}

.highlight-img {
    border: 0.3vw inset yellow !important;
    border-radius: 0.2vw;
}

.board-outer {
    background-color: wheat;
    height: 70%;
    position: relative;
}

.board-inner {
    border: solid;
    border-color: white;
    border-width: 0.6vw;

    width: 95%;
    height: 90%;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.goal-area {
    background-color: #488CCD;

    border-top: solid;
    border-color: white;

    height: 35%;
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.goal-area.goal-text {
    width: 16%;
    height: auto;
}

.goal-area.goal-text p {
    color: white;
    text-align: center;
    font-size: 2.4vw;
    font-family: monospace;
    transform: translate(20%, 10%);
}

.goal-area.goal-cubes {
    width: 84%;
    height: auto;

    position: relative;
}

.goal-area.goal-cubes.play-area {
    border: dotted;
    border-color: white;

    width: 95%;
    height: 55%;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}

.goal-area.goal-cubes.play-area table {
    border: dotted;
    border-color: white;
}

.goal-area.goal-cubes.play-area th {
    width: 4vw;
    height: 4vw;

    transform: translateY(0%);
}

.goal-area.goal-cubes.play-area th img {
    width: 3vw;
    height: 3vw;
}

.goal-area.goal-cubes.play-area #btn-div {
    margin-right: 6vw;
}

.goal-area.goal-cubes.play-area button {
    font-family: monospace;
    font-size: 1vw;
    width: 7vw;

    border-radius: 2vw;
    height: 35%;
    transform: translate(15%, 90%);
}

.cube-area {    
    height: 65%;

    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.play-sector {
    background-color: #00CBAE;

    border-left: solid;
    border-right: solid;
    border-color: white;

    width: 33.333%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.play-sector.heading {
    height: 15%;
    width: 100%;
}

.play-sector.heading p {
    color: white;
    text-align: center;
    font-size: 1.5vw;
    font-family: monospace;
    transform: translateY(-70%);
}

.play-sector.cubes {
    height: 90%;
    width: 100%;

    position: relative;
}

.play-sector.cubes.playable-area {
    border: dotted;
    border-color: white;

    width: 90%;
    height: 93%;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -53%);

    overflow-y: scroll;
}

.play-sector.cubes.playable-area table td {
    /* border: dotted;
    border-color: white; */
    height: 3vw;
    width: 3vw;
}

.play-sector.cubes.playable-area table td img {
    height: 3vw;
    width: 3vw;
}

.hide-border {
    border: none !important;
}

.extra-cube {
    transform: translate(0%, -100%);
}

.hidden {
    display: none;
}

.goal-highlight {
    border: solid;
    border-width: 0.15vw;
    border-color: white;
    border-radius: 0.5vw;
}

.rounded-corners {
    border-radius: 0.5vw;
}

.chat-button {
    text-align: center;
}

.chat-button button {
    margin-bottom: 1.3vh;
    border-radius: 2.1vw;

    font-size: 0.9vw;
    font-family: monospace;
    margin: 0.5vw;

    transform: translate(0%, -50%);
}

.solution_li {
    width: 90%;

}

.solution_box {
    font-family: monospace;
    font-size: 0.8vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-left: 1vw;
    padding-right: 1vw;
    width: 100%;

    margin-bottom: 1vh;
    border-radius: 2vw;
}

.solution_submit {
    font-family: monospace !important;
    font-size: 0.8vw;
    border-radius: 2vw;
    text-align: center;
    transform: translateX(85%);
}