
#header {
    text-align: center;
}

body {
    height: 95vh;
    overflow: hidden;
}

p {
    margin: 0;
}

.vsplit {
    float: left;
    height: 100vh;
}

.left {
    background: white;
    width: 75%;
}

.right {
    background: rgb(0, 195, 255);
    width: 25%;
    text-align:center;
    /* overflow: scroll; */
}

.hsplit {
    padding: 5px;
}

.hsplit.top {
    height: 17%;
    background: lightblue;
}

.hsplit.bottom {
    background: white;
    height: 83%;
    background: lightcyan;
    
}

/* Chat messages */

.chat.top {
    height: 79%;
    overflow-y: scroll;
}

.chat.bottom {
    height: 15%;
}

/* .chatArea {
    height: 100%;
    padding-bottom: 60px;
  } */
  
.messages {
    height: 100%;
    margin: 0;
    padding: 10px 20px 10px 20px;
    text-align: left;
}
  
.inputMessage {
    border: 10px solid #000;
    bottom: 0;
    height: 60px;
    left: 0;
    outline: none;
    padding-left: 10px;
    position: relative;
    right: 0;
    width: 91%;
}

/* The Game */
.game {
    float: left;
}

.game.left {
    /* Left column */
    background-color: wheat;
    width: 75%;
    height: 95%;
}

.game.right {
    /* Right column */
    background-color: lightgreen;
    width: 25%;
    height: 95%;
}

#board {
    /* The board */
    width: 96%;
    height: 66%;
}

#board-inner {
    /* background-color: blue; */
    width: 99%;
    height: 95%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;
    background-color: white;
}

.gameboard {
    height: 70.7%;
    width: 100%;
    background-color: white;
}

.gameboard.top {
    background-color: #00CBAE;
    width: 100%;
    height: 95%
}

.sector {
    float: left;
}

.sector.forbidden {
    width: 32.53%;
    height: 98%;
    border: solid;
    border-color: white;
}

.sector.permitted {
    width: 32.53%;
    height: 98%;
    border: solid;
    border-color: white;
}

.sector.required {
    width: 32.53%;
    height: 98%;
    border: solid;
    border-color: white;
}

.sector.play-area {
    border: dotted;
    border-color: grey;
    translate: translateY(-123%);
    margin-left: 7px;
    width: 92%;
    height: 73%;
}

.boardlabel {
    font-family: monospace;
    font-size: 15px;
    transform: translateY(-123%);
    margin-bottom: 0;
}

.gameboard.bottom {
    background-color: #488CCD;
    width: 99%;
    height: 46% !important;
    border: solid;
    border-color: white;
}

#goal {
    width: 100%;
    height: 100%;
}

#goaltext {
    font-family: monospace;
    font-size: 35px;
    top: 50%;
    transform: translateY(93%);
    vertical-align: middle;
    text-align: left;
    padding-left: 12px;
}

#goal-area {
    border: dotted;
    border-color: grey;
    height: 45%;
    width: 77%;
    transform: translateY(-20%) translateX(24%);
    text-align: left;
}

#resources {
    /*  Resources (cubes) */
    width: 100%;
    height: 30.6%;
    background-color: thistle;
}

#resourcestext {
    transform: translateX(1.3%) translateY(33%);
    text-align: left;
}

#resources-area {
    border: dotted;
    border-color: grey;
    height: 70%;
    width: 95%;
    transform: translateX(2%) translateY(10%);
}

.gametext {
    font-family: monospace;
    font-size: 20px;
    color: white;
    transform: translateY(23%);
}

#scores {
    /* Scores of match, including total time left */
    background-color: forestgreen;
    outline:2px solid white;
    width: 100%;
    height: 40%;
}

#stats-area {
    border: dotted;
    border-color: grey;
    height: 76%;
    width: 90%;
    transform: translateY(7%) translateX(4%);
}

#turn {
    /* Turn info, including timer */
    background-color: pink;
    outline:2px solid white;

    height: 15%;
}

#timertext {
    text-align: left;
    font-size: 30px;
    transform: translateX(1.3%);
    margin-left: 10px;
    margin-top: 0;
    margin-bottom: 10px;
}

#buttons {
    /* Buttons for challenges, timing, etc. */
    height: 45%;
    outline:2px solid white;
}

#the-buttons {
    /* border: dotted;
    border-color: grey; */
    height: 85%;
    transform: translateY(8%);
}

#the-buttons button {
    margin-bottom: 10px;
    border-radius: 10px;
    font-size: 15px;
    width: 90%;
}
