
#main {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
    width: 100%;
    height: 97vh;
}

.main.right {
    width: 25%;

    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: stretch;
}

.main.right.top {
    background: rgb(0, 195, 255);

    height: 10%;
    width: auto;
}

.main.right.top h2 {
    font-size: 2vw;
    text-align: center;
    font-family: monospace;
    /* transform: translateY(5%); */
}

#note {
    margin-top: 1vw;
    font-size: 1vw !important;
}

.main.right.mid {
    background: rgb(0, 195, 255);

    height: 80%;
    width: auto;

    font-family: monospace;
    overflow-y: scroll;
}

.messages {
    height: 100%;
    margin: 0;
    padding: 0.6vw 1.2vw 0.6vw 1.2vw;
    text-align: left;
    list-style-type: none;
}

.messages li {
    margin-bottom: 1vh;
    font-size: 1vw;
}

.main.right.bot {
    height: 10%;
    width: auto;
}

.inputMessage {
    border: 0.6vw solid #000;
    bottom: 0;
    height: 100%;
    left: 0;
    outline: none;
    padding-left: 1vw;
    position: relative;
    right: 0;
    width: 91%;
}

.main.left {    
    width: 75%;

    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: stretch;
}

.main.left.top {
    background-color: lightcyan;

    width: auto;
    height: 17%;

    text-align: center;
}

.main.left.top p, h3 {
    margin-bottom: 0;
    margin-top: 0;
    font-size: 1.4vw;
    transform: translateY(50%);
    font-family: monospace;
}

.main.left.bot {
    width: auto;
    height: 83%;

    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.info {
    height: auto;
    width: 25%;

    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.stats {
    background-color: green;

    height: 30%;

    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.stats.header {
    height: 16%;
}

.stats.header p {
    font-family: monospace;
    text-align: center;
    font-size: 1.5vw;
    transform: translateY(-75%);
    color: white;
}

.stats.the-stats-outer {
    height: 84%;

    position: relative;
}

.stats.the-stats-inner {
    height: 88%;
    width: 90%;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.time-elapsed {
    height: 15%;

    text-align: left;
    font-family: monospace;
    color: white;
    font-size: 1vw;
    transform: translateY(-75%);
}

.scores table {
    height: 85%;
    width: 100%;

    font-family: monospace;
    color: white;
    font-size: 0.8vw;

    overflow-y: scroll;
}

.time {
    background-color: pink;
    height: 20%;
    position: relative;
}

.time.inner {
    height: 80%;
    width: 92%;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.time.inner p {
    color: white;
    font-family: monospace;
    text-align: left;
    font-size: 2vw;
    transform: translate(3%, -75%);
}

.time-inner-first {
    height: 50%;
    width: 100%;
}

.time-inner-second {
    height: 50%;
    width: 100%;
}

.buttons {
    background-color: lightgreen;
    height: 50%;
    position: relative;
}

.buttons-inner {
    height: 90%;
    width: 90%;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -45%);

    text-align: center;
}

.buttons-inner button {
    margin-bottom: 0.7vw;
    border-radius: 2.1vw;
    font-size: 1vw;
    width: 90%;
}

.game {
    height: auto;
    width: 75%;

    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.resources {
    background-color: thistle;
    height: 30%;

    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.resources.heading {
    height: 20%;
}

.resources.heading p {
    color: white;
    text-align: left;
    font-size: 1.7vw;
    font-family: monospace;
    transform: translate(1%, -60%);
}

.resources.cubes {
    height: 80%;
    position: relative;
}

.resources.cubes.playable-area {
    /* border: dotted;
    border-color: white; */

    height: 88%;
    width: 97%;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-49%, -48%);

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.resources.cubes.playable-area table {
    height: 100%;
    width: 97%;
    transform: translate(0%, -6%);
}

.resources.cubes.playable-area th {
    /* border: dotted;
    border-color: white; */

    width: 8.3%;

}

.resources.cubes.playable-area th img {
    width: 3vw;
    height: 3vw;
}

.show-border {
    border: dotted !important;
    border-color: white !important;
    border-width: 0.2vw !important;
}

.highlight-img {
    border: 0.3vw inset yellow !important;
    border-radius: 0.2vw;
}

.board-outer {
    background-color: wheat;
    height: 70%;
    position: relative;
}

.board-inner {
    border: solid;
    border-color: white;
    border-width: 0.6vw;

    width: 95%;
    height: 90%;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.goal-area {
    background-color: #488CCD;

    border-top: solid;
    border-color: white;

    height: 35%;
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.goal-area.goal-text {
    width: 16%;
    height: auto;
}

.goal-area.goal-text p {
    color: white;
    text-align: center;
    font-size: 2.4vw;
    font-family: monospace;
    transform: translate(20%, 10%);
}

.goal-area.goal-cubes {
    width: 84%;
    height: auto;

    position: relative;
}

.goal-area.goal-cubes.playable-area {
    border: dotted;
    border-color: white;

    width: 95%;
    height: 55%;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.goal-area.goal-cubes.playable-area th {
    /* border: dotted;
    border-color: white; */

    width: 4vw;
    height: 4vw;

    transform: translateY(10%);
}

.goal-area.goal-cubes.playable-area th img {
    width: 3vw;
    height: 3vw;
}

.cube-area {    
    height: 65%;

    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.play-sector {
    background-color: #00CBAE;

    border-left: solid;
    border-right: solid;
    border-color: white;

    width: 33.333%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.play-sector.heading {
    height: 15%;
    width: 100%;
}

.play-sector.heading p {
    color: white;
    text-align: center;
    font-size: 1.5vw;
    font-family: monospace;
    transform: translateY(-70%);
}

.play-sector.cubes {
    height: 90%;
    width: 100%;

    position: relative;
}

.play-sector.cubes.playable-area {
    border: dotted;
    border-color: white;

    width: 90%;
    height: 93%;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -53%);
}

.play-sector.cubes.playable-area table th {
    /* border: dotted;
    border-color: white; */
    height: 3vw;
    width: 3vw;
}

.play-sector.cubes.playable-area table th img {
    height: 3vw;
    width: 3vw;
}

.hide-border {
    border: none !important;
}
