
body {
    text-align: center;
}

h1 {
    text-align: center;
}

#join-options {
    padding: 20px;
} 

.user-inputs {
    padding: 10px;
}

p, h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

button, input {
    margin-bottom: 0.7vw;
    border-radius: 2.1vw;
    font-size: 1vw;
}

input {
    padding-left: 0.5vw;
}

.flashed {
    margin-bottom: 0px;
}
