body {
    text-align: center;
    background-color: #00274C;
}

h1 {
    text-align: center;
}

img {
    width: 50%;
}

#join-options {
    padding: 20px;
} 

.user-inputs {
    padding: 10px;
}

p, h1, h2, h3, form {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

button, input {
    margin-bottom: 0.7vw;
    border-radius: 2.1vw;
    font-size: 1vw;
}

input {
    padding-left: 0.5vw;
}

.flashed {
    margin-bottom: 0px;
}

a {
    color: white;
}

#logout-button {
    margin-top: 15vh;
    text-align: center;
}

table {
    margin: auto;
}

table th {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    /* border: 1px solid white; */
    padding: 10px;
}

table th button {
    margin-top: 10px;
}
