
body {
    text-align: center;
}

h1 {
    text-align: center;
}

#join-options {
    padding: 20px;
} 

.user-inputs {
    padding: 10px;
}

p, h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}