<!DOCTYPE html>
<html>
    <head>
        <title>Equations</title>
        <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    </head>
    <body>
        <h1>Equations Online</h1>
        <!-- <script async src="/game.bundle.js"></script> -->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p class='flashed'>Oops! {{ message }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}

    </body>
</html>