{% extends "base.html" %}
{% block content %}

    <div id="create-group">
        <h2>Create a group</h2>
        <form action="/create_group/" method="post" enctype="multipart/form-data">
            Group Name: <input type="text" name="groupname"/> <br><br>
            Group ID: <input type="text" name="groupid"/> <br><br>
            (Group ID will be used for your URL. No spaces permitted. Only alphanumeric characters, hyphen, and underscore allowed.) <br><br>
            <input type="submit" name="creategroup" value="Create Group"/> <br><br>
        </form>
    </div>

{% endblock %}