<!DOCTYPE html>
<html>
    <head>
        <title>Equations</title>
        <!-- <link rel="stylesheet" type="text/css" href="/static/css/game.css"> -->
        <link rel="stylesheet" type="text/css" href="../static/css/game.css">
        <script language="JavaScript" type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
        <script>
            $(function () {
                $(".playable-area").hover(
                    function () {
                        $(this).removeClass("hide-border");
                    },
                    function () {
                        $(this).addClass("hide-border");
                    }
                );

                $(".res-cube").hover(
                    function() {
                        $(this).addClass("show-border");
                    },
                    function() {
                        $(this).removeClass("show-border");
                    } 
                );
            });
        </script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/game.bundle.js') }}"></script>
    </head>
    <body>
        <div id="main">
            <div class="main left">
                <div class="main left top">
                    <h3>Equations Game Room</h3>
                    <p>Share this Room ID for friends to join: <a id="room-nonce">{{ nonce }}</a></p>
                    <p>Your name is <a id="name">{{ name }}</a></p>
                    <p id="note">Note: As of now, navigating away from or refreshing this page will forfeit the match.</p>
                </div>
                <div class="main left bot">
                    <div class="game">
                        <div class="board-outer">
                            <div class="board-inner">
                                <div class="cube-area">
                                    <div class="play-sector">
                                        <div class="play-sector heading">
                                            <p><b>Forbidden</b></p>
                                        </div>
                                        <div class="play-sector cubes">
                                            <div class="play-sector cubes playable-area hide-border">
                                                <table>
                                                    <tr>
                                                        <th></th><th></th><th></th><th></th>
                                                    </tr>
                                                    <tr>
                                                        <th></th><th></th><th></th><th></th>
                                                    </tr>
                                                    <tr>
                                                        <th></th><th></th><th></th><th></th>
                                                    </tr>
                                                    <tr>
                                                        <th></th><th></th><th></th><th></th>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="play-sector">
                                        <div class="play-sector heading">
                                            <p><b>Permitted</b></p>
                                        </div>
                                        <div class="play-sector cubes">
                                            <div class="play-sector cubes playable-area hide-border">
                                                <table>
                                                    <tr>
                                                        <th></th><th></th><th></th><th></th>
                                                    </tr>
                                                    <tr>
                                                        <th></th><th></th><th></th><th></th>
                                                    </tr>
                                                    <tr>
                                                        <th></th><th></th><th></th><th></th>
                                                    </tr>
                                                    <tr>
                                                        <th></th><th></th><th></th><th></th>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="play-sector">
                                        <div class="play-sector heading">
                                            <p><b>Required</b></p>
                                        </div>
                                        <div class="play-sector cubes">
                                            <div class="play-sector cubes playable-area hide-border">
                                                <table>
                                                    <tr>
                                                        <th></th><th></th><th></th><th></th>
                                                    </tr>
                                                    <tr>
                                                        <th></th><th></th><th></th><th></th>
                                                    </tr>
                                                    <tr>
                                                        <th></th><th></th><th></th><th></th>
                                                    </tr>
                                                    <tr>
                                                        <th></th><th></th><th></th><th></th>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="goal-area">
                                    <div class="goal-area goal-text">
                                        <p><b>Goal:</b></p>
                                    </div>
                                    <div class="goal-area goal-cubes">
                                        <div class="goal-area goal-cubes playable-area hide-border">
                                            <table>
                                                <tr>
                                                    <th></th><th></th><th></th><th></th><th></th><th></th>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="resources">
                            <div class="resources heading">
                                <p>Resources</p>
                            </div>
                            <div class="resources cubes">
                                <div class="resources cubes playable-area" id="resources-cubes">
                                    <table>
                                        <tr>
                                            <th></th><th></th><th></th><th></th><th></th><th></th>
                                            <th></th><th></th><th></th><th></th><th></th><th></th>
                                        </tr>
                                        <tr>
                                            <th></th><th></th><th></th><th></th><th></th><th></th>
                                            <th></th><th></th><th></th><th></th><th></th><th></th>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="info">
                        <div class="stats">
                            <div class="stats header">
                                <p>Game Stats</p>
                            </div>
                            <div class="stats the-stats-outer">
                                <div class="stats the-stats-inner">
                                    <div class="time-elapsed">
                                        <p>Time Elapsed: </p>
                                    </div>
                                    <div class="scores">
                                        <table>
                                            <tr>
                                                <th>Player 1</th>
                                                <th>Player 2</th>
                                                <th>Player 3</th>
                                            </tr>
                                            <tr>
                                                <th>-</th>
                                                <th>-</th>
                                                <th>-</th>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="time">
                            <div class="time inner">
                                <div class="time-inner-first">
                                    <p id="turn">Turn: </p>
                                </div>
                                <div class="time-inner-second">
                                    <p id="timer">Time: </p>
                                </div>
                            </div>
                        </div>
                        <div class="buttons">
                            <div class="buttons-inner" id="buttons-div">
                                <button id="start-game">Start Game</button> <br/>
                                <button id="flip-timer">Flip Timer</button> <br/>
                                <button id="claim-warning">Claim 10 Second Warning</button> <br/>
                                <button id="claim-minus-one">Claim -1</button> <br/>
                                <button id="a-flub">Challenge Now</button> <br/>
                                <button id="p-flub">Challenge Impossible</button> <br/>
                                <button id="force-out">Challenge Force Out</button> <br/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main right">
                <div class="main right top">
                    <h2>Chat</h2>
                </div>
                <div class="main right mid" id="message-list-div">
                    <ul class="messages" id="message-list">
                        <li><b>Server: </b>Welcome to Equations!</li>
                    </ul>
                </div>
                <div class="main right bot">
                    <input class="inputMessage" placeholder="Type here..."/>
                </div>
            </div>
        </div>
    </body>
</html>
