{% extends "base.html" %}
{% block content %}

    {% if can_join %}
        <form action="/join_group/" method="post" enctype="multipart/form-data">
            <input type="submit" name="buttontext" value="Join this Group"/>
            <input type="hidden" name="groupid" value="{{ id }}"/>
        </form>
    {% endif %}

    {% if can_leave %}
        <form action="/leave_group/" method="post" enctype="multipart/form-data">
            <input type="submit" name="buttontext" value="Leave this Group"/>
            <input type="hidden" name="groupid" value="{{ id }}"/>
        </form>
    {% endif %}

    <p>Group ID: {{ id }}</p>
    <p>Group Name: {{ name }}</p>
    <p>Owners: {{ owners }}</p>
    <p>Players: {{ players }}</p>

    {% if is_owner %}
        <a href="/create_tournament/{{ id }}/"><button>Create a tournament</button></a>
        <a href="/tournament/create/{{ id }}/"><button>Test Conflict</button></a>
    {% endif %}

    <table>
        <tr>
            <th><u>Tournament ID</u></th>
            <th><u>Tournament Name</u></th>
        </tr>
        {% for tournament in tournaments %}
            <tr>
                <th>{{ tournament.id }}</th>
                <th>{{ tournament.name }}</th>
                <th>
                    <a href="/tournament/{{ tournament.id }}/"><button>View</button></a>
                </th>
            </tr>
        {% endfor %}
    </table>

{% endblock %}
