{% extends "base.html" %}
{% block content %}
    <br/><br/>
    <img src="/static/images/background.jpg">
    
    {% if not logged_in %}
        <div id="join-options">
            <button id="login" onclick="window.location.href='/login/'">Log In</button>
        </div>
    {% else %}
        <div id="user-info">
            <h3>Logged in as: {{ username }}</h3>
        </div>
        {% if gamerooms|length > 0 %}
            <div id="current-games">
                <p>You are currently a player in these rooms:</p>
                <p>
                    {% for gameroom in gamerooms %}
                        {{ gameroom }}{{ ", " if not loop.last }}
                    {% endfor %}
                </p>
            </div>
        {% endif %}
        
        <div id="join-options">    
            <button id="create-button">Create Game</button>
            <button id="join-button">Join Game</button>
        </div>
        <div id='join-new'>
            <form id="join-new" action="/create/" method="post" enctype="multipart/form-data">
                <!-- NOTE: if you ever change the "value" texts below, you must 
                    change index.py create_game as well -->
                <input type="submit" name="create" value="Create Equations Game"/> 
                <input type="submit" name="create" value="Create On-Sets Game"/>
            </form>
        </div>
        <div id='join-existing'>
            <form id="join-existing" action="/join/" method="post" enctype="multipart/form-data">
                <div class="user-inputs">
                    <!-- <p><b>Enter your name: </b><input type='text' name='name'/> </p> -->
                    <p><b>Enter Room ID: <input type='text' name='room'/> </p>
                </div>
                <input type="submit" name="join" value="Join as Player"/>
                <input type="submit" name="join" value="Join as Spectator"/>
            </form>
        </div>

        <div id="logout-button">
            <button id="logout" onclick="window.location.href='/logout/'">Log Out</button>
        </div>

        <script language="JavaScript" type="text/javascript" src="https://code.jquery.com/jquery-latest.min.js"></script>
        <script>
            $(function() {
                $('#join-existing').slideUp(0);
                $('#join-new').slideUp(0);

                $('#create-button').on('click', function() {
                    $('#join-existing').slideUp(0);
                    $('#join-new').slideDown(300);
                });

                $('#join-button').on('click', function() {
                    $('#join-new').slideUp(0);
                    $('#join-existing').slideDown(300);
                });

            });
        </script>
    {% endif %}
{% endblock %}
