{% extends "base.html" %}
{% block content %}

    <div id="login-form">
        <h2>Login</h2>
        <form action="/login/" method="post" enctype="multipart/form-data">
            Username <input type="text" name="username"/> <br> <br>
            Password <input type="password" name="password"/> <br> <br>
            <input type="submit" value="login"/> <br> <br>
        </form>
        <p>Don't have an account? <a href="/create_account/"><b>Sign up here</b></a></p>
    </div>

{% endblock %}