{% extends "base.html" %}
{% block content %}

    <div id="show-tournament">
        <h2>{{ tourname }}</h2>
        <h3>A Tournament Hosted by {{ groupname }}</h3>
        
        {% if can_register %}
            <form action="/tournament_register/" method="post" enctype="multipart/form-data">
                <input type="submit" name="buttontext" value="Register for Tournament"/>
                <input type="hidden" name="tourid" value="{{ tourid }}"/>
            </form>
        {% endif %}
        {% if can_deregister %}
            <form action="/tournament_deregister/" method="post" enctype="multipart/form-data">
                <input type="submit" name="buttontext" value="Deregister from Tournament"/>
                <input type="hidden" name="tourid" value="{{ tourid }}"/>
            </form>
        {% endif %}

        {% if editor %}
            <h4><em>You are a judge and you are currently in "Edit Tables" mode</em></h4> <br/>
            <form action="/modify_tournament_groups/" method="post" enctype="multipart/form-data">
                <input type="hidden" name="tourid" value="{{ tourid }}"/>
                <input type="text" name="groupid" />
                <input type="submit" name="add_group" value="Add Group by ID"/>
                <input type="submit" name="remove_group" value="Remove Group by ID"/> <br/>
                (Adding a group will update the unassigned players list to include players from that group)
            </form> <br/>

            {% for unassigned_info in unassigned %}
                <p>{{ unassigned_info.label }}: {{ unassigned_info.unassigned }}</p>
            {% endfor %}
        {% elif owner %}
            <a href="/tournament/{{ tourid }}/edit/"><button>Assign Tables</button></a>
        {% endif %}
        
        <table>
            <tr>
                <th><u>Player 1</u></th>
                <th><u>Player 2</u></th>
                <th><u>Player 3</u></th>
                <th><u>Game ID</u></th>
                <th></th>
                {% if editor %}
                    <th></th>
                    <th></th>
                {% endif %}
            </tr>
            {% for table in tables %}
                <tr>
                    {% if editor %}
                        <tr>
                            <form action="/tournament/{{ tourid }}/edit/" method="post" enctype="multipart/form-data">
                                <input type="hidden" name="gameid" value="{{ table.gameid }}"/>
                                <th><input type="text" name="player1" value="{{ table.player1 }}"/></th>
                                <th><input type="text" name="player2" value="{{ table.player2 }}"/></th>
                                <th><input type="text" name="player3" value="{{ table.player3 }}"/></th>
                                <th>{{ table.gameid }}</th>
                                <th>
                                    <a href="/game/{{ table.gameid }}/" target="_blank" class="button-link">View</a>
                                </th>
                                <th>
                                    <input type="submit" name="update_table" value="Update"/>
                                </th>
                                <th>
                                    <input type="submit" name="delete_table" value="Delete"/>
                                </th>
                            </form>
                        </tr>
                    {% else %}
                        <tr>
                            <th>{{ table.player1 }}</th>
                            <th>{{ table.player2 }}</th>
                            <th>{{ table.player3 }}</th>
                            <th>{{ table.gameid }}</th>
                            <th>
                                <a href="/game/{{ table.gameid }}/" target="_blank" class="button-link">View</a>
                            </th>
                        </tr>
                    {% endif %}
                </tr>
            {% endfor %}

            {% if editor %}
                <tr>
                    <form action="/tournament/{{ tourid }}/edit/" method="post" enctype="multipart/form-data">
                        <th><input type="text" name="player1"/></th>
                        <th><input type="text" name="player2"/></th>
                        <th><input type="text" name="player3"/></th>
                        <th>
                            <input type="submit" name="create_table" value="Create Table"/>
                        </th>
                    </form>
                </tr>
            {% endif %}
        </table>
        {% if editor %}
            <a href="/tournament/{{ tourid }}"><button>Finish Editing</button></a>
        {% endif %}
    </div>

{% endblock %}
